<div class="container">
    <div class="card">
        <div class="card-header">
            {{pageTitle}}
        </div>
        <div class="card-body" *ngIf="currentPayment">
            <form novalidate>
                <fieldset>
                    <legend>
                        Payment Information #{{currentPayment.count}}
                    </legend>
                    <!-- {{currentPayment | json}} -->
                    <div class="form-group row">
                        <label class="col col-form-label" for="cardNameId">
                            Name
                        </label>
                        <div class="col">
                            <p-autoComplete placeholder="Name" [showClear]=true [required]=true [minLength]="0"
                                [completeOnFocus]=true [(ngModel)]=name [suggestions]="filteredPayeeNameArray"
                                (completeMethod)="filterPayee($event)" [dropdown]="false" name="payee">
                                <ng-template let-item pTemplate="item">
                                    <div class="card-item">
                                        <div>{{item}}</div>
                                    </div>
                                </ng-template>
                            </p-autoComplete>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="lastPaid">
                        <label class="col col-form-label" for="lastamount">
                            Last Txn
                        </label>
                        <div class="col">
                            {{currentPayment.lastPayDate}} | {{lastPaid}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col col-form-label" for="pdate">
                            Date
                        </label>
                        <div class="col">
                            <input type="date" class="form-control" id="pdate"
                                placeholder="payment Date(required)" required name="pdate"
                                [(ngModel)]=currentPayment.date>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col col-form-label" for="groupname">
                            Type
                        </label>
                        <div class="col">
                            <p-radioButton class="mr-4" name="groupname" value="in" label="Receive"
                                [(ngModel)]="type"></p-radioButton>
                            <p-radioButton name="groupname" value="out" label="Paid"
                                [(ngModel)]="type"></p-radioButton>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col col-form-label" for="pamount">
                            Pending Amount
                        </label>
                        <div class="col">
                            <input type="number" [disabled]="true" class="form-control" id="pamount" required name="pamount"
                                [(ngModel)]=currentPayment.prevAmount>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col col-form-label" for="amount">
                            Amount
                        </label>
                        <div class="col">
                            <input type="number" class="form-control" id="amount" placeholder="Amount (required)"
                                required name="amount" [(ngModel)]=amount>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col col-form-label" for="remAmount">
                            New Pending Amount
                        </label>
                        <div class="col">
                            <input type="number" [disabled]="true" class="form-control" id="remAmount" required name="remAmount"
                                [(ngModel)]=currentPayment.remAmount>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col col-form-label" for="cashback">
                            commission
                        </label>
                        <div class="col">
                            <div class="input-group">
                                <input type="number" class="form-control" id="cashback" placeholder="Cashback in %"
                                    required name="cashback" [(ngModel)]=cashback>
                                <div class="input-group-append">
                                    <span class="input-group-text">{{currentPayment.cashback}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col col-form-label" for="mode">
                            Payment Mode
                        </label>
                        <div class="col">
                            <select class="form-control" name="mode" id="mode" [(ngModel)]=currentPayment.paymentMode>
                                <option *ngFor="let md of mode " [value]=md>{{md}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col col-form-label" for="cardNameId">
                            Destination
                        </label>
                        <div class="col">
                            <p-autoComplete placeholder="Receiver" [showClear]=true [required]=true [minLength]="0"
                                [completeOnFocus]=true [(ngModel)]=currentPayment.receiver
                                [suggestions]="filteredReceiverNameArray" (completeMethod)="filterReceiver($event)"
                                [dropdown]="false" name="Receiver">
                                <ng-template let-item pTemplate="item">
                                    <div class="card-item">
                                        <div>{{item}}</div>
                                    </div>
                                </ng-template>
                            </p-autoComplete>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col col-form-label" for="remark">
                            Remark
                        </label>
                        <div class="col">
                            <input type="text" class="form-control" id="remark" placeholder="remark (if any)" required
                                name="Amount" [(ngModel)]=currentPayment.remark>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col col-form-label" for="count">
                            count
                        </label>
                        <div class="col">
                            <input type="text" class="form-control" id="count" placeholder="count" required
                                name="count" [(ngModel)]=currentPayment.count>
                        </div>
                    </div>

                </fieldset>
            </form>
            <div class="row mb-2">
                <div class="col" style="text-align-last: end;">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                            [(ngModel)]=addPaymentToCard>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Add to Card</label>
                    </div>
                </div>

                <div class="col">
                    <button [disabled]="loading" class="btn btn-primary mr-3" style="width:80px" type="button" (click)="save(false)">
                        <span *ngIf="loading"><i class="pi pi-spin pi-spinner mr-2" style="font-size: 1rem"></i></span>
                        Save
                    </button>
                    <button [disabled]="loading" class="btn btn-primary mr-3" style="width:110px" type="button" (click)="save(true)">
                        <span *ngIf="loading"><i class="pi pi-spin pi-spinner mr-2" style="font-size: 1rem"></i></span>
                        Save & Stay
                    </button>
                    <button class="btn btn-outline-secondary mr-3" style="width:80px" type="button"
                        title="Cancel your edits" [routerLink]="['/payments']">
                        Cancel
                    </button>
                    <button class="btn btn-outline-warning" style="width:80px" type="button" title="Reset"
                        (click)="reset()">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>