:host ::ng-deep .p-cell-editing {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

:host ::ng-deep .p-datatable .p-datatable-tbody tr td {
    text-align: center !important;
    padding: 0rem 0rem !important;
}