<div class="card">
    <div class="card-header">
        Cards List
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-1">
                <label class="col-form-label">
                    FilterBy:
                </label></div>
            <div>
                <input [(ngModel)]=filterBy type="text" class="form-control">
            </div>
        </div>
        <div class="row" *ngIf="filterBy">
            <div class="col-md-6">
                <label class="col-form-label">
                    Showing cards containing <b>{{filterBy}}</b>
                </label></div>
        </div>
        <br>

        <div class="table-responsive">
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Card Name</th>
                        <th>Bill Date</th>
                        <th>Due Date</th>
                        <th>Amount Due</th>
                        <th>Total Amount</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let card of cards | filter:filterBy">
                        <td></td>
                        <td>{{card.cardName}}</td>
                        <td>{{card.billDate}}</td>
                        <td>{{card.dueDate}}</td>
                        <td>{{card.amountDue}}</td>
                        <td>{{card.totalAmount}}</td>
                        <td><button class="btn btn-outline-primary btn-sm" [routerLink]="['/card', card.cardName, 'edit']">
                                Edit
                            </button></td>
                            <td><button class="btn btn-outline-primary btn-sm" [routerLink]="['/transactions/', card.cardName]">
                                See Txns
                            </button></td>
                        <td><button class="btn btn-outline-danger btn-sm" (click)="deleteCard(card._id)">
                                Delete
                            </button></td>
                    </tr>

                </tbody>
            </table>

        </div>

    </div>
</div>