<div *ngIf="display == 'component'" class="mr-4 ml-4">
    <p-table #dt [value]="cards" dataKey="_id" editMode="row" [scrollable]="true" [rowHover]="true"
        (onFilter)="onFilter($event)" [loading]="!cards.length" scrollHeight="73vh" styleClass="p-datatable-sm"
        styleClass="p-datatable-gridlines" [filterDelay]="0" [globalFilterFields]="['cardName']">
        <ng-template pTemplate="caption">
            <div class="table-header">
                Card List
                <div>
                    <button pButton pRipple type="button" icon="pi pi-check" pTooltip="update Card"
                        (click)="customUpdate()" tooltipPosition="top" class="p-button-rounded p-button-text"></button>

                    <button pButton pRipple type="button" icon="pi pi-refresh" pTooltip="Refresh Cards"
                        (click)="refresh()" tooltipPosition="top" class="p-button-rounded p-button-text"></button>

                    <span class="p-input-icon-left mr-1">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Global Search" />
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>SN</th>
                <th pSortableColumn="cardName">Card<p-sortIcon field="cardName"></p-sortIcon></th>
                <th pSortableColumn="billDate" style="min-width:6rem">BillDate<p-sortIcon field="billDate"></p-sortIcon>
                </th>
                <th pSortableColumn="dueDate" style="min-width:6rem">DueDate<p-sortIcon field="dueDate"></p-sortIcon>
                </th>
                <th>last</th>
                <th>Cashback</th>
                <th pSortableColumn="unbilledAmount">Unbilled<p-sortIcon field="unbilledAmount"></p-sortIcon></th>
                <th pSortableColumn="amountDue">Due<p-sortIcon field="amountDue"></p-sortIcon></th>
                <th>tillDate</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-card let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="card">
                <td>{{ri+1}}</td>
                <td> {{card.cardName}} <span *ngIf="card.cardNumber"><i class="pi pi-copy"
                            (click)="copyCardNum(card)"></i></span></td>
                <td> {{card.billDate}} </td>
                <td> {{card.dueDate}} </td>
                <td> {{card.lastBilledMonth}} </td>
                <td> {{card.cashback}} </td>
                <td style="color: green;"> {{card.unbilledAmount}} </td>
                <td style="color: red;"> {{card.amountDue}} </td>
                <td> {{card.totalAmount}} </td>
                <td style="min-width: 9rem;">
                    <div class="flex align-items-center justify-content-center">
                        <button pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" pTooltip="Edit Card"
                            [routerLink]="['/card', card._id, 'edit']" tooltipPosition="top"
                            class="p-button-rounded p-button-text"></button>
                        <button pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" pTooltip="Bill Pay"
                            (click)="selectedCardOverlay.card = card" tooltipPosition="top"
                            class="p-button-rounded p-button-text p-button-success mr-2"></button>
                        <button pButton pRipple type="button" pCancelEditableRow pTooltip="See txns" icon="pi pi-list"
                            tooltipPosition="top" [routerLink]="['/transactions/', card.cardName]"
                            class="p-button-rounded p-button-text"></button>
                        <button pButton pRipple type="button" icon="pi pi-trash" pTooltip="Delete Card"
                            (click)="deleteCard($event,card)" tooltipPosition="top"
                            class="p-button-rounded p-button-text p-button-danger"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td></td>
                <td>Total</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{aggregate.cashback}}</td>
                <td>{{aggregate.unbilledAmount}}</td>
                <td>{{aggregate.amountDue}}</td>
                <td>{{aggregate.totalAmount}}</td>
                <td></td>
            </tr>
        </ng-template>

    </p-table>
</div>


<p-dialog (onHide)="markAsPaid(false)" header="Card Bill Payment" position="top"
    [(visible)]="selectedCardOverlay.card.cardName" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="p-fluid grid formgrid">
        <h5>Selected Card: {{selectedCardOverlay.card.cardName}}</h5>
        <div class="field col-12 md:col-4">
            <label for="dtype">Payment Type</label>
            <p-dropdown appendTo="body" [options]="['Remaining Amount', 'Paid Amount', 'Full']"
                [(ngModel)]="selectedCardOverlay.type" placeholder="Select payment type"
                [showClear]="true"></p-dropdown>
        </div>
        <div class="field col-12 md:col-4">
            <label for="icon">Amount</label>
            <input [disabled]="selectedCardOverlay.type == 'Full'" type="text" pInputText
                [(ngModel)]="selectedCardOverlay.amount">
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="markAsPaid(false)" label="Cancel" styleClass="p-button-outlined"></p-button>
        <p-button
            [disabled]="!selectedCardOverlay.card || (!selectedCardOverlay.amount && selectedCardOverlay.type != 'Full') || !selectedCardOverlay.type"
            (click)="markAsPaid(true)" label="Paid" styleClass="p-button-outlined"></p-button>
    </ng-template>
</p-dialog>


<div *ngIf="display == 'home'" class="container">
    <div class="card">
        <div class="card-header clr-red">
            Card Due Summary
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table style="text-align: center;" class="table table-bordered table-sm">
                    <thead class="clr-red">
                        <tr>
                            <th>Card Name</th>
                            <th>date</th>
                            <th>Due</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let card of dueCards">
                            <td> <a [routerLink]="['/card', card._id, 'edit']">{{card.cardName}} </a> <span *ngIf="card.cardNumber"><i class="pi pi-copy"
                                        (click)="copyCardNum(card)"></i></span></td>
                            <td>{{card.dueDate}} </td>
                            <td>{{card.amountDue}} </td>
                            <td>
                                <i style="color: green;" class="pi pi-check" pTooltip="Bill Pay" tooltipPosition="top"
                                        (click)="selectedCardOverlay.card = card"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td></td>
                            <td class="clr-red"><b>{{totalDue}}</b></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>
<br>
<div *ngIf="display == 'home'" class="container">
    <div class="card">
        <div class="card-header clr-green">
            Card Unbilled Summary
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table style="text-align: center;" class="table table-bordered table-sm">
                    <thead class="clr-green">
                        <tr>
                            <th>Card Name</th>
                            <th>date</th>
                            <th>Unbilled</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let card of unbilledCards">
                            <td> {{card.cardName}} <span *ngIf="card.cardNumber"><i class="pi pi-copy"
                                        (click)="copyCardNum(card)"></i></span></td>
                            <td>{{card.billDate}} </td>
                            <td>{{card.unbilledAmount}} </td>
                            <td>
                                <i style="color: green;" class="pi pi-pencil" Tooltip="Edit" tooltipPosition="top"
                                [routerLink]="['/card', card._id, 'edit']"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td></td>
                            <td class="clr-green"><b>{{totalUnbilled}}</b></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>