<div class="mr-4 ml-4">
    <p-table #dt [value]="payments" dataKey="_id" editMode="row" [scrollable]="true" [rowHover]="true"
        [loading]="!payments.length" scrollHeight="80vh" styleClass="p-datatable-sm" styleClass="p-datatable-gridlines"
        (selectionChange)="schange($event)" [(selection)]="selectedPayment" [filterDelay]="0"
        [globalFilterFields]="['name', 'receiver', 'paymentMode']">
        <ng-template pTemplate="caption">
            <div class="table-header">
                Payment List

                <div>
                    <button type="button" pButton pRipple icon="pi pi-plus" routerLink="/payments/new/edit" class="mr-2"
                        pTooltip="Add New" tooltipPosition="top"></button>

                    <button type="button" pButton pRipple icon="pi pi-telegram" (click)="exportData()" class="mr-2"
                        pTooltip="Export Payment String" tooltipPosition="top"></button>

                    <span class="p-input-icon-left mr-1">
                        <i class="pi pi-search"></i>
                        <!-- <input pInputText type="text" [(ngModel)]=filterBy placeholder="Global Search" /> -->
                        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Global Search" />
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pFrozenColumn>SN</th>
                <th style="width: 3rem">
                </th>
                <th pSortableColumn="name">Payment <p-sortIcon field="name"></p-sortIcon></th>
                <th>Amount/Comm</th>
                <th>Prev/Rem/Com</th>
                <th>Payment Mode</th>
                <th pSortableColumn="date" style="min-width:6rem">Date<p-sortIcon field="date"></p-sortIcon></th>
                <th>receiver</th>
                <th>Action</th>
            </tr>

            <tr>
                <th pFrozenColumn></th>
                <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($any($event.target).value, 'name', 'contains')"
                        placeholder="Search" class="p-column-filter">
                </th>
                <th></th>
                <th></th>
                <th>
                    <p-dropdown appendTo="body" [options]="mode"
                        (onChange)="dt.filter($event.value, 'paymentMode', 'equals')" styleClass="p-column-filter"
                        placeholder="mode" [showClear]="true">
                        <ng-template let-option pTemplate="">
                            <span>&#123;&#123;option&#125;&#125;</span>
                        </ng-template>
                    </p-dropdown>
                </th>
                <th>
                    <p-calendar appendTo="body" (onSelect)="onDateSelect($event)"
                        (onClearClick)="dt.filter('', 'date', 'equals')" [showButtonBar]="true"
                        styleClass="p-column-filter" placeholder="Date" [readonlyInput]="true"></p-calendar>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($any($event.target).value, 'receiver', 'contains')"
                        placeholder="Receiver" class="p-column-filter">
                </th>
                <th></th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-payment let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="payment">
                <td pFrozenColumn>{{ri+1}}</td>
                <td pFrozenColumn>
                    <p-tableCheckbox [value]="payment"></p-tableCheckbox>
                </td>
                <td pFrozenColumn>
                    {{payment.name}} #{{payment.count}}
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="payment.amount">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{payment.amount}} <span *ngIf="payment.cashback">| {{payment.cashback}}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td> {{payment.prevAmount}} | {{payment.remAmount}} <span *ngIf="payment.pendingCommision">|
                        {{payment.pendingCommision}}</span></td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="mode" [(ngModel)]="payment.paymentMode"
                                [style]="{'width':'100%'}"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{payment.paymentMode}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    {{payment.date}}
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="payment.receiver">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{payment.receiver}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pFrozenColumn style="min-width: 100px;">
                    <div class="flex align-items-center justify-content-center gap-2">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                            (click)="onRowEditInit(payment)" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                            (click)="onRowEditSave(payment)"
                            class="p-button-rounded p-button-text p-button-success mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                            (click)="onRowEditCancel(payment, ri)"
                            class="p-button-rounded p-button-text p-button-danger"></button>
                        <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-trash"
                            (click)="deletePayment($event, payment)"
                            class="p-button-rounded p-button-text p-button-danger"></button>
                        <button [routerLink]="['/payments', payment._id, 'edit']" *ngIf="!editing" pButton pRipple
                            type="button" icon="pi pi-external-link" class="p-button-rounded p-button-text"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog (onHide)="showPayStringDialog.visible= false" header="Payments" position="top"
    [(visible)]="showPayStringDialog.visible" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="p-fluid grid formgrid">
        <h5>Selected Payee: {{showPayStringDialog.payee}}</h5>
        <div class="field col-12 md:col-4">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                    (change)="exportData($any($event.target).checked)">
                <label class="form-check-label" for="flexSwitchCheckDefault">Include Commision</label>
            </div>
        </div>
        <div class="field col-12 md:col-4">
            <textarea [rows]="5" [cols]="30" pInputTextarea [(ngModel)]="showPayStringDialog.paymentString"
                [autoResize]="true"></textarea>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="paymentOverlayAction(showPayStringDialog.paymentString, true, false)" label="Copy"
            styleClass="p-button-outlined"></p-button>
        <p-button (click)="paymentOverlayAction(showPayStringDialog.paymentString, false, true)" label="Share"
            styleClass="p-button-outlined"></p-button>
    </ng-template>
</p-dialog>