<app-spinner *ngIf="!currentPayee"></app-spinner>
<div class="card" style="width: 90%">
    <div class="card-header">
        {{pageTitle}}
    </div>

    <div class="card-body" *ngIf="currentPayee">
        <form novalidate >
            <fieldset>
                <legend>
                    Payee Information
                </legend>
                <div class="form-group row">
                    <label class="col col-form-label" for="cardNameId">
                        Payee Name
                    </label>
                    <div class="col">
                        <input type="text" class="form-control" id="cardNameId" placeholder="Name (required)"
                            required minlength="3" name="cardName" [(ngModel)]=currentPayee.name>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col col-form-label" for="amountDue">
                        Total Amount
                    </label>
                    <div class="col">
                        <input type="number" class="form-control" id="Amount" placeholder="Total Amount (required)"
                            required minlength="3" name="Amount" [(ngModel)]=currentPayee.totalAmount>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col col-form-label" for="billDate">
                        Last Payment Date
                    </label>
                    <div class="col">
                        <input type="date" class="form-control" id="lastPaymentDate" placeholder="Last Payment Date (required)"
                            required name="lastPaymentDate" [(ngModel)]=currentPayee.lastPaymentDate>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col col-form-label" for="lastPaymentCount">
                        Last Payment count
                    </label>
                    <div class="col">
                        <input type="number" class="form-control" id="lastPaymentCount" placeholder="Last Payment Count"
                            required name="lastPaymentCount" [(ngModel)]=currentPayee.lastPaymentNum>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col col-form-label" for="totalAmount">
                        Pending Commission
                    </label>
                    <div class="col">
                        <input type="number" class="form-control" id="Commission" placeholder="Pending Commission"
                            required minlength="3" name="Commission" [(ngModel)]=currentPayee.pendingComm>
                    </div>
                </div>
                
            </fieldset>
        </form>
        <div class="row mb-2">
            <div class="col">
              <button class="btn btn-primary mr-3"
                      style="width:80px"
                      type="button"
                      (click)="savePayee()">
                      <span *ngIf="loading"><i class="pi pi-spin pi-spinner mr-2" style="font-size: 1rem"></i></span>
                Save
              </button>
              <button class="btn btn-outline-secondary mr-3"
                      style="width:80px"
                      type="button"
                      title="Cancel your edits"
                      [routerLink]="['/payee']">
                Cancel
              </button>
              <button class="btn btn-outline-warning"
                      style="width:80px"
                      type="button"
                      title="Delete this card"
                      (click)="reset()">
                Delete
              </button>
            </div>
          </div>
    </div>
</div>