<div class="card" *ngIf="txns">
    <div class="card-header">
        Transactions on Card '{{cardName}}'
        <span *ngIf="!txns"><i class="pi pi-spin pi-spinner ml-2 mr-2" style="font-size: 1rem"></i>Loading..</span>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-1">
                <label class="col-form-label">
                    FilterBy:
                </label>
            </div>
            <div>
                <input [(ngModel)]=filterBy type="text" class="form-control">
            </div>
        </div>
        <div class="row" *ngIf="filterBy">
            <div class="col-md-6">
                <label class="col-form-label">
                    Showing Transactions containing <b>{{filterBy}}</b>
                </label>
            </div>
        </div>
        <br>

        <p-table [columns]="cols" [value]="txns | filter:filterBy" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>SN</th>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri="rowIndex">
                <tr>
                    <td>{{ri+1}}</td>
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                    <td><button class="btn btn-outline-primary btn-sm"
                            [routerLink]="['/product', rowData.orderId, 'edit']">
                            Order Details
                        </button></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <td></td>
                <td>Total</td>
                <td></td>
                <td></td>
                <td>{{aggregate.totalAmount}}</td>
                <td></td>
            </ng-template>
        </p-table>

    </div>
</div>