<div class="card" style="width: 90%">
    <div class="card-header">
        {{pageTitle}}
    </div>

    <div class="card-body" *ngIf="currentProduct">
        <form novalidate>
            <fieldset>
                <legend>
                    Product Information
                </legend>
                <div class="form-group row">
                    <label class="col col-form-label" for="productNameId">
                        Product Name
                    </label>
                    <div class="col">
                        <input type="text" list="id-car" class="form-control" placeholder="Name (required)"
                            name="productName" [(ngModel)]=currentProduct.name>
                        <datalist id="id-car" *ngFor="let product of productNamesArray">
                            <option>{{product}}</option>
                        </datalist>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col col-form-label" for="ram">
                        RAM
                    </label>
                    <div class="col">
                        <select class="form-control" name="ram" id="ram" [(ngModel)]=currentProduct.ram>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=6>6</option>
                            <option value=8>8</option>
                            <option value=10>10</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col col-form-label" for="storage">
                        Storage
                    </label>
                    <div class="col">
                        <select class="form-control" name="storage" id="storage" [(ngModel)]=currentProduct.storage>
                            <option value=16>16</option>
                            <option value=32>32</option>
                            <option value=64>64</option>
                            <option value=128>128</option>
                            <option value=256>256</option>
                            <option value=512>512</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col col-form-label" for="date">
                        Purchase Date
                    </label>
                    <div class="col">
                        <input type="date" class="form-control" id="date" placeholder="Date (required)" required
                            minlength="3" name="date" [(ngModel)]=currentProduct.date>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col col-form-label" for="productNameId">
                        App Name
                    </label>
                    <div class="col">
                        <select class="form-control" name="appName" id="appName" [(ngModel)]=currentProduct.AppName>
                            <option value="Amazon">Amazon</option>
                            <option value="Flipkart">Flipkart</option>
                            <option value="Samsung">Samsung</option>
                            <option value="Realme">Realme</option>
                            <option value="Vivo">Vivo</option>
                            <option value="Oppo">Oppo</option>
                            <option value="Mi">Mi</option>
                            <option value="1+">1+</option>
                            <option value="TataCliQ">Tata CliQ</option>
                            <option value="RelianceDigital">Reliance Digital</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col col-form-label" for="appAccount">
                        App Account
                    </label>
                    <div class="col">
                        <input type="text" class="form-control" id="appAccount"
                            placeholder="Ordered from Account (required)" required minlength="3" name="appAccount"
                            [(ngModel)]=currentProduct.AppAccount>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col col-form-label" for="Status">
                        Status
                    </label>
                    <div class="col">
                        <select class="form-control" name="status" id="status" [(ngModel)]=currentProduct.status>
                            <option value="Ordered">Ordered</option>
                            <option value="Shipped">Shipped</option>
                            <option value="DeliveredToLoc">DeliveredToLoc</option>
                            <option value="DeliveredHome">DeliveredHome</option>
                            <option value="Distributor">Distributor</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col col-form-label" for="listPrice">
                        List Price
                    </label>
                    <div class="col">
                        <input type="number" class="form-control" id="listPrice" placeholder="Price on App (required)"
                            required name="listPrice" [(ngModel)]=listPrice>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col col-form-label" for="coupon">
                        Coupon
                    </label>
                    <div class="col">
                        <input type="number" class="form-control" id="coupon" placeholder="coupon amount (default = 0)"
                            required name="coupon" [(ngModel)]=coupon>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col col-form-label" for="cardDiscount">
                        Card Discount
                    </label>
                    <div class="col">
                        <input type="number" class="form-control" id="cardDiscount"
                            placeholder="Card Discount (required)" required name="cardDiscount"
                            [(ngModel)]=cardDiscount>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col col-form-label" for="cardAmount">
                        Card Amount
                    </label>
                    <div class="col">
                        <input type="number" class="form-control" id="cardAmount" disabled="true"
                            placeholder="Amount deducted from card (required)" required name="cardAmount"
                            [(ngModel)]=currentProduct.cardAmount>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col col-form-label" for="cardHolder">
                        Card Name
                    </label>
                    <div class="col">
                        <select class="form-control" id="cardHolder" name="cardHolder"
                            [(ngModel)]=currentProduct.cardHolder>
                            <option *ngFor="let card of cards" [ngValue]="card.cardName">
                                {{card.cardName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col col-form-label" for="giftCardAmount">
                        Gift Card Amount
                    </label>
                    <div class="col">
                        <input type="number" class="form-control" id="giftCardAmount"
                            placeholder="Gift Card Balence Used (required)" required name="giftCardAmount"
                            [(ngModel)]=giftBalence>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col col-form-label" for="costToMe">
                        Cost To Me
                    </label>
                    <div class="col">
                        <input type="number" class="form-control" id="costToMe" placeholder="costToMe (required)"
                            disabled="true" required name="costToMe" [(ngModel)]=currentProduct.costToMe>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col col-form-label" for="deliveryDate">
                        Home Delivery Date
                    </label>
                    <div class="col">
                        <input type="date" class="form-control" id="buyerDate" placeholder="Delivery Date (required)"
                            minlength="3" name="buyerDate" [(ngModel)]=currentProduct.deliveryDate>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col col-form-label" for="buyerName">
                        Buyer Name
                    </label>
                    <div class="col">
                        <input type="text" class="form-control" id="buyerName" placeholder="Buyer Name" required
                            minlength="3" name="buyerName" [(ngModel)]=currentProduct.buyerName>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col col-form-label" for="distributorPrice">
                        Buyer Price
                    </label>
                    <div class="col">
                        <input type="number" class="form-control" id="distributorPrice"
                            placeholder="Amount Received from buyer (required)" required name="distributorPrice"
                            [(ngModel)]=dPrice>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col col-form-label" for="buyerDate">
                        Buyer Date
                    </label>
                    <div class="col">
                        <input type="date" class="form-control" id="buyerDate" placeholder="Buyer Date (required)"
                            minlength="3" name="buyerDate" [(ngModel)]=currentProduct.buyerDate>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col col-form-label" for="profit">
                        Profit
                    </label>
                    <div class="col">
                        <input type="number" class="form-control" id="profit" disabled="true" placeholder="Profit"
                            required name="profit" [(ngModel)]=currentProduct.profit>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="row mb-2 form-group">
            <!-- <div class="col-md-4"> -->
            <button class="btn btn-primary mr-3" style="width:80px" type="button" (click)="saveProduct()">
                Save
            </button>
            <button class="btn btn-outline-secondary mr-3" style="width:80px" type="button" title="Cancel your edits"
                [routerLink]="['/products']">
                Cancel
            </button>
            <button class="btn btn-outline-warning" style="width:80px" type="button" title="Delete this product"
                (click)="resetProduct()">
                Delete
            </button>
            <!-- </div> -->
        </div>
    </div>
    {{ currentProduct | json }}
    <br><br>
    {{originalProduct | json}}
</div>