:host ::ng-deep .p-component,
.p-component * {
    width: -webkit-fill-available;
}

:host ::ng-deep .p-inputtext {
    padding: 0.5rem 0.75rem;
    padding-right: 0.5rem !important;
}

@media (max-width: 480px) {
    .addmore {
        text-align-last: left !important;
        margin-bottom: 8px;
    }
}