<!-- <app-spinner *ngIf="!Payee.length"></app-spinner> -->
<div class="card">
    <div class="card-header">
        Payee List
        <span *ngIf="!payees"><i class="pi pi-spin pi-spinner ml-2 mr-2" style="font-size: 1rem"></i>Loading..</span>
        <span class="p-input-icon-left mr-2">
            <i class="pi pi-search"></i>
            <input style="padding-left: 2rem;" type="text" [(ngModel)]=filterBy class="form-control" />
        </span>
    </div>
    <div class="card-body">
        <!-- <div class="row" *ngIf="filterBy">
            <div class="col-md-6">
                <label class="col-form-label">
                    Showing Payee containing <b>{{filterBy}}</b>
                </label>
            </div>
        </div> -->
        <br>

        <div class="table-responsive">
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Name</th>
                        <th>Pending Amount</th>
                        <th>Pending Commision</th>
                        <th>Final Amount</th>
                        <th>Till Date</th>
                        <th>Last Paid</th>
                        <th>LastTxn.Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of payees | filter:filterBy">
                        <td></td>
                        <td>{{item.name}}</td>
                        <td>{{item.totalAmount}}</td>
                        <td>{{item.pendingComm}}</td>
                        <td>{{item.totalAmount + item.pendingComm}}</td>
                        <td>{{item.tillDate}}</td>
                        <td>{{item.lastPaidAmount}}</td>
                        <td>{{item.lastPaymentDate}}</td>
                        <td style="min-width: 9rem;">
                            <button pButton pRipple type="button" icon="pi pi-pencil" pTooltip="Edit"
                                tooltipPosition="top" [routerLink]="['/payee', item._id, 'edit']"
                                class="p-button-text"></button>

                            <button pButton pRipple type="button" icon="pi pi-check" pTooltip="Mark as Paid"
                                tooltipPosition="top" (click)="markAsPaid($event,item)" class="p-button-text"></button>

                            <button pButton pRipple type="button" pTooltip="See txns" icon="pi pi-list"
                                tooltipPosition="top" [routerLink]="['/payments/', item.name]"
                                class="p-button-rounded p-button-text"></button>

                            <button pButton pRipple type="button" icon="pi pi-trash" pTooltip="Delete"
                                (click)="deletePayee($event,item)" tooltipPosition="top"
                                class="p-button-rounded p-button-text p-button-danger"></button>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

    </div>
</div>