<!-- <app-spinner *ngIf="!Payee.length"></app-spinner> -->
<div class="card">
    <div class="card-header">
        Payee List
        <span *ngIf="!payees"><i class="pi pi-spin pi-spinner ml-2 mr-2"
                style="font-size: 1rem"></i>Loading..</span>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-1">
                <label class="col-form-label">
                    FilterBy:
                </label>
            </div>
            <div>
                <input [(ngModel)]=filterBy type="text" class="form-control">
            </div>
        </div>
        <div class="row" *ngIf="filterBy">
            <div class="col-md-6">
                <label class="col-form-label">
                    Showing Payee containing <b>{{filterBy}}</b>
                </label>
            </div>
        </div>
        <br>

        <div class="table-responsive">
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Pending Com</th>
                        <th>Total Amount</th>
                        <th>Last Payment</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of payees | filter:filterBy">
                        <td></td>
                        <td>{{item.name}}</td>
                        <td>{{item.totalAmount}}</td>
                        <td>{{item.pendingComm}}</td>
                        <td>{{item.totalAmount + item.pendingComm}}</td>
                        <td>{{item.lastPaymentDate}}</td>
                        <td><button class="btn btn-outline-primary btn-sm" [routerLink]="['/payee', item._id, 'edit']">
                                Edit
                            </button></td>
                        <td><button class="btn btn-outline-success btn-sm" (click)="markAsPaid($event,item)">
                                Paid
                            </button></td>
                        <td><button class="btn btn-outline-primary btn-sm" [routerLink]="['/payments/', item.name]">
                                See Txns
                            </button></td>
                        <td><button class="btn btn-outline-danger btn-sm" (click)="deletePayee($event,item)">
                                Delete
                            </button></td>
                    </tr>

                </tbody>
            </table>

        </div>

    </div>
</div>