<p-toast></p-toast>
<!-- <p-confirmPopup></p-confirmPopup> -->
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="../assets/images/ecomLogo.png" height="40" class="mr-2">
  </ng-template>
  <ng-template pTemplate="end">
    <p-splitButton [label]="currentUser" [model]="rightItem" (onClick)="logout()"
      styleClass="p-button-outlined p-button-sm p-button-secondary mr-1"></p-splitButton>
  </ng-template>
</p-menubar>
<br>
<div>
  <router-outlet></router-outlet>
</div>


<!-- <div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"><img src="../assets/images/ecomLogo.png" alt="Logo"
        style="width:35px; padding-left: 8px;">Inventory Management</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link " style="color: #e9ecef" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " style="color: #e9ecef" routerLink="/products" routerLinkActive="active">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " style="color: #e9ecef" routerLink="/product/new/edit" routerLinkActive="active">Add
          Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " style="color: #e9ecef" routerLink="/card/new/edit" routerLinkActive="active">Add Card</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " style="color: #e9ecef" routerLink="/cards" routerLinkActive="active">Card List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " style="color: #e9ecef" routerLink="/transactions/All"
          routerLinkActive="active">Transactions</a>
      </li>
    </ul>

    <button *ngIf="isLoggedIn" class="btn btn-outline-primary my-2 my-sm-0" (click)="logout()">Logout</button>
    <button *ngIf="!isLoggedIn" class="btn btn-outline-primary my-2 my-sm-0" routerLink="/login">LogIn</button>
  </nav>
  <br>
</div> -->