<div class="container">
    <div class="card">
        <div class="card-header">
            Summary
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table style="text-align: center;" class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Count</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Undelivered</td>
                            <td>{{productStat.undeliveredCount}}</td>
                            <td>{{productStat.undeliveredAmount}}</td>
                        </tr>
                        <tr>
                            <td>Delivered Home</td>
                            <td>{{productStat.deliveredCount}}</td>
                            <td>{{productStat.deliveredAmount}}</td>
                        </tr>
                        <tr>
                            <td>Order till Date</td>
                            <td>{{productStat.OrderCount}}</td>
                            <td>{{productStat.OrderAmount}}</td>
                        </tr>
                        <tr>
                            <td>Delivered to Distributor</td>
                            <td>{{productStat.buyerCount}}</td>
                            <td>{{productStat.buyerAmount}}</td>
                        </tr>

                        <tr>
                            <td>Personal & CC Orders</td>
                            <td></td>
                            <td>{{pendingAmount.personal}}</td>
                        </tr>

                        <tr>
                            <td>Pending (Distributor)</td>
                            <td></td>
                            <td>{{pendingAmount.distributor}}</td>
                        </tr>
                        <tr>
                            <td>Pending (Others)</td>
                            <td></td>
                            <td>{{pendingAmount.others}}</td>
                        </tr>
                        <tr>
                            <td>Card (unbilled)</td>
                            <td></td>
                            <td>{{pendingCardAmount.unbilled}}</td>
                        </tr>
                        <tr>
                            <td>Card (due)</td>
                            <td></td>
                            <td>{{pendingCardAmount.due}}</td>
                        </tr>
                        <tr>
                            <td>Card (Total)</td>
                            <td></td>
                            <td>{{pendingCardAmount.due + pendingCardAmount.unbilled}}</td>
                        </tr>
                        <tr>
                            <td>Difference</td>
                            <td></td>
                            <td>{{pendingAmount.distributor + pendingAmount.others + productStat.undeliveredAmount +
                                productStat.deliveredAmount - pendingCardAmount.unbilled - pendingCardAmount.due - pendingAmount.personal}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>
<br>
<app-card-list display="home"></app-card-list>